{
    "presets": ["es2015", "es2016"],
    "plugins": [
        "transform-class-properties",

        // This makes sure that the regenerator runtime is available to
        // the transpiled code.
        "transform-runtime",
    ],
}
