{
    "presets": [
        ["@babel/preset-env", {
            "targets": {
                "browsers": ["last 2 versions"],
                "node": 10
            },
            "modules": "commonjs"
        }],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-numeric-separator",
        "@babel/plugin-proposal-class-properties",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-syntax-dynamic-import",
        ["@babel/plugin-transform-async-to-generator", {
            "module": "bluebird",
            "method": "coroutine"
        }],
        "@babel/plugin-transform-runtime"
    ]
}
