# Keep this file in sync with .gitignore.

.jsdoc
node_modules
.lock-wscript
build/Release
coverage
lib-cov
out
reports
dist/browser-matrix-dev.js

# tarball created by 'npm pack'.
/matrix-js-sdk-*.tgz

