name: Static Analysis
on:
  pull_request: { }
  push:
    branches: [ develop, master ]
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
jobs:
  ts_lint:
    name: "Typescript Syntax Check"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install Deps
        run: "yarn install"

      - name: Typecheck
        run: "yarn run lint:types"

      - name: Switch js-sdk to release mode
        run: |
          scripts/switch_package_to_release.js
          yarn install
          yarn run build:compile
          yarn run build:types

      - name: Typecheck (release mode)
        run: "yarn run lint:types"

  js_lint:
    name: "ESLint"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install Deps
        run: "yarn install"

      - name: Run Linter
        run: "yarn run lint:js"

  docs:
    name: "JSDoc Checker"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install Deps
        run: "yarn install"

      - name: Generate Docs
        run: "yarn run gendoc"
