name: Tests
on:
  pull_request: { }
  push:
    branches: [ develop, main, master ]
jobs:
  jest:
    name: Jest
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Yarn cache
        uses: actions/setup-node@v3
        with:
          cache: 'yarn'

      - name: Install dependencies
        run: "yarn install"

      - name: Build
        run: "yarn build"

      - name: Run tests with coverage
        run: "yarn coverage --ci"

      - name: Upload Artifact
        uses: actions/upload-artifact@v2
        with:
          name: coverage
          path: |
            coverage
            !coverage/lcov-report
